img {
    width: 600px;
}

.arrows {
    width: auto;
    height: 50px;
    margin: 0 10px 0 10px;
}

.dots {
    width: 20px;
    height:auto;
    margin: 0 5px 0 5px;
}

.container {
    margin: auto;   
    margin-top: 5%; 
    width: 800px;
    display:flex;
    align-items: center;
    justify-content: center;
  
}

.div-dots {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
